<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
<form action="/index.html" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" multiple>
    1st Co-ordinate <input type="number" name="first"><br>
    <br>
    2nd Co-ordinate<input type="number" name="second"><br>
    <br>
    <input type="submit" value="Upload">
</form>
</body>
</html>
