<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
<form action="/edit"  method="post">
    <h1>Are You Sure ?</h1><br>
    
        First Coordinate:<br>
        <input type="number" name="first" required><br>
        Second Coordinate:<br>
        <input type="number" name="last" required><br>
        Page Number:<br>
        <input type="text" name="page">
        <p>Enter the page number where you want to insert.Leave empty if you want to print sign on last page.Typwe all to sign all pages.</p>
        <br>
        <br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
